@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");
* {
    box-sizing: border-box;
}

:root {
    --chat_container: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #1f1c2e;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover: #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
    --light-font: rgba(255,255,255,.8);
}

html, body {
    width: 100%;
    /*height: 80vh;*/
    height: 100%;
    margin: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    overflow: hidden;
    /*display: flex;*/
    /*justify-content: center;*/
    /*background-color: var(--chat_container);*/
}

button, a {
    cursor: pointer;
}

.chat_container {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    /*background-color: var(--chat_container);*/
    transition: 0.2s;
    margin: 0 auto;

}

.chat_container button, .chat_container input, .chat_container optgroup, .chat_container select, .chat_container textarea {
    font-family: "DM Sans", sans-serif;
}
.app-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    padding: 2rem;
    font-family: 'Dosis', sans-serif;
}

.app-content p{
    font-weight: 600;
}
.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
    position: relative;
}
.app-header-left, .app-header-right {
    display: flex;
    align-items: center;
}
.app-header-left {
    flex-grow: 1;
}
.app-header-right button {
    margin-left: 10px;
}
.app-icon {
    width: 26px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    position: relative;
}
.app-icon:before, .app-icon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 4px;
    background-color: var(--main-color);
    left: 50%;
    transform: translatex(-50%);
}
.app-icon:before {
    top: -6px;
}
.app-icon:after {
    bottom: -6px;
}
.app-name {
    color: var(--main-color);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin: 0 32px;
}

.title-wrapper {
    border-radius: 20px;
    background-color: var(--search-area-bg);
    padding-right: 12px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /*max-width: 480px;*/
    color: var(--light-font);
    box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
    overflow: hidden;
}

.title-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: var(--search-area-bg);
    color: var(--main-color);
}
.title-input::placeholder {
    color: var(--main-color);
    opacity: 0.6;
}

.content-input {
    border: none;
    flex: 1;
    outline: none;
    height: 100%;
    padding: 0 20px;
    font-size: 16px;
    background-color: var(--search-area-bg);
    color: var(--main-color);
}
.content-input::placeholder {
    color: var(--main-color);
    opacity: 0.6;
}

.content-wrapper {
    border-radius: 20px;
    background-color: var(--search-area-bg);
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;

    width: 99%;
    height: 20%;

    color: var(--light-font);
    box-shadow: 2px 2px 6px 2px rgb(136 148 171 / 20%), 0px 24px 20px -24px rgb(71 82 107 / 10%);
    /*box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);*/
    overflow: hidden;
}

.content-wrapper textarea{
    resize: none;
}
.add-btn {
    color: #fff;
    background-color: var(--button-bg);
    padding: 0;
    border: 0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-btn {
    color: var(--main-color);
    padding: 0;
    border: 0;
    background-color: transparent;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-content  {
    flex: 1;
    width: 100%;
}

.projects-section {
    flex: 2;
    background-color: var(--projects-section);
    border-radius: 32px;
    padding: 32px 32px 0 32px;
    /*overflow-y: auto;*/
    overflow: hidden;
    height: 100%;
    /*display: flex;*/
    flex-direction: column;
    /*box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);*/


}
.projects-section-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
}
.projects-section-header {
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    color: var(--main-color);
}
.projects-section-header p {
    font-size: 24px;
    line-height: 32px;
    /*font-weight: 700;*/
    opacity: 0.9;
    margin: 0 0 1rem;
    color: var(--main-color);
}
.projects-section-header .time {
    font-size: 20px;
}


.projects-content-section{
    float: left;
    width: 60%;
    height: 100%;
}

.projects-info-section{
    float: right;
    width: 40%;
    height: 100%;
}


.article_info_section div{
    margin-bottom: 5px;
}
.article_author{
    display: flex;
    align-items: center;
}

.article_author h3{
    flex: 1;
    font-size: 20px;
}

.article_author .author_info{
    flex: 3;
}



.article_date {
    display: flex;
}

.article_date h3 {
    flex: 1;
    font-size: 18px;
}

.article_point h3{
    flex: 1;
    font-size: 18px;
}

.article_point {
    display: flex;
}

.article_date #article_date{
    flex: 3;
    font-size: 16px;
}

.article_point #article_point{
    flex: 3;
    font-size: 16px;
}

.article_author p {
    vertical-align: middle;
}

.messages{
    height: 100%;
}


.messages-section {
    flex-shrink: 0;
    padding-bottom: 32px;
    background-color: var(--projects-section);
    margin-left: 24px;
    flex: 1;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.19, 1, 0.56, 1);
    box-shadow: 0 2px 6px 0 rgb(136 148 171 / 20%), 0 24px 20px -24px rgb(71 82 107 / 10%);
}
.messages-section .messages-close {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 3;
    border: none;
    background-color: transparent;
    color: var(--main-color);
    display: none;
}
.messages-section.show {
    transform: translateX(0);
    opacity: 1;
    margin-left: 0;
}
.messages-section .projects-section-header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 32px 24px 0 24px;
    background-color: var(--projects-section);
}

.project-boxes {
    /*margin: 0 -8px;*/
    /*overflow-y: auto;*/
    height: 100%;
}

.project-boxes p {
    font-size: 24px;
    line-height: 32px;
    /*font-weight: 700;*/
    opacity: 0.9;
    margin: 0 0 1rem;
    color: var(--main-color);
}

.project-boxes.kakao_map_container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.project-boxes.kakao_map_container .project-box-wrapper {
    width: 33.3%;
}

.project-box-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    position: relative;
}
.project-box-footer:after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    width: calc(100% + 32px);
    top: 0;
    left: -16px;
    height: 1px;
}

.mode-switch.active .moon {
    fill: var(--main-color);
}

.messages-btn {
    border-radius: 4px 0 0 4px;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: var(--message-btn);
    border: none;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    display: none;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 880px) {
    .messages-section {
        transform: translateX(100%);
        display: none;
        position: absolute;
        opacity: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 100%;
    }
    .messages-section .messages-close {
        display: block;
    }

    .messages-btn {
        display: flex;
    }
}
@media screen and (max-width: 720px) {
    .app-name, .profile-btn span {
        display: none;
    }

    .add-btn, .notification-btn, .mode-switch {
        width: 20px;
        height: 20px;
    }
    .add-btn svg, .notification-btn svg, .mode-switch svg {
        width: 16px;
        height: 16px;
    }

    .app-header-right button {
        margin-left: 4px;
    }
}

@media screen and (max-width: 520px) {
    .projects-section {
        overflow: auto;
    }

    .project-boxes {
        overflow-y: visible;
    }

    .app-sidebar, .app-icon {
        display: none;
    }

    .app-content {
        padding: 16px 12px 24px 12px;
    }

    .app-header {
        padding: 16px 10px;
    }

    .title-input {
        max-width: 120px;
    }

    .project-boxes.kakao_map_container .project-box-wrapper {
        width: 100%;
    }

    .projects-section {
        padding: 24px 16px 0 16px;
    }

    .app-header {
        padding: 10px;
    }

    .projects-section-header p,
    .projects-section-header .time {
        font-size: 18px;
    }


    .title-input {
        font-size: 14px;
    }

    .messages-btn {
        top: 48px;
    }

    .box-content-header {
        font-size: 12px;
        line-height: 16px;
    }

    .box-content-subheader {
        font-size: 12px;
        line-height: 16px;
    }


    .box-progress-header {
        font-size: 12px;
    }

    .box-progress-percentage {
        font-size: 10px;
    }
}

:root {
    /*background: #f5f6fa;*/
    color: #9c9c9c;
    font: 1rem "PT Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
}

.uppercase {
    text-transform: uppercase;
}

/* 카카오 맵 */
#map { border-radius: 10px; }


/* 지도 마커  */
.dot{
    margin: auto auto;
    width: 1px;
    height: 1px;
    position: relative;
}

.centraldot{
    width: 16px;
    height: 16px;
    background: rgba(32,150,243,1);
    border-radius: 30px;
    position: absolute;
    left:-6px;
    top:-6px;
    animation: animationDotCentral linear 3s;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}


.wave, .wave2 {
    width: 260px;
    height: 260px;
    background: rgba(32,150,243,0.4);
    border-radius: 200px;
    position: absolute;
    left:-127px;
    top:-128px;
    opacity: 0;
    animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
}

.wave{ animation-delay:0.9s; }
.wave2{ animation-delay:1.07s; }

@keyframes animationDotCentral{

    0% {
        transform:  scale(0) ;
        opacity: 0;
    }

    5% { transform:  scale(2) ; }
    10% {
        transform:  scale(0.90) ;
        opacity: 1;
    }
    11% { transform:  scale(1.50) ; }
    12% { transform:  scale(1.00) ; }
    28% { background: rgba(32,150,243,1); }
    29% {  background: rgba(255,255,255,1); }
    31% { background: rgba(32,150,243,1); }
    33% { background: rgba(255,255,255,1); }
    35% { background: rgba(32,150,243,1); }
    90% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes animationWave{
    0% {
        opacity: 0;
        transform:  scale(0.00);
    }

    1% { opacity: 1; }
    10% { background: rgba(32,150,243,0.4); }
    100% {
        transform:  scale(1) ;
        background: rgba(32,150,243,0.0);
    }
}

/* 이미지 삽입 css */
.imagePreview {
    width: 120px;
    height: 120px;
    background-position : center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color : #fff;
    background-size : cover;
    background-repeat : no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}

.btn-primary
{
    display:block;
    border-radius:0px;
    box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
    margin-top:-5px;
}
.img_section
{
    margin-bottom:15px;
}

.img_add_section{
    display: flex;
}

.imgAdd
{
    color: #b2b2b2;
    line-height: 120px;
    font-size: 80px;
}
.imgAdd:hover{
    cursor: pointer;
    color: #000000;
}

/* 이미지 삽입 css 끝 */